{{ define "main" }}

<div class="pa3 pa4-ns w-100 w-70-ns center">
{{ .Content }}

{{ range $.Site.Data.shows }}
<article class="show">
  <h3>
    {{.start | time.Format ":date_full" }}
    {{.start | time.Format ":time_short" }}-{{.end | time.Format ":time_short"}}
  </h3>
  <h4>{{ .title | markdownify }}, {{ .location }}</h4>
  {{ with .with }}<h5>With {{ . }}</h5>{{ end }}
</article>

{{ end }}

</div>
{{ end }}
