{{ define "header" }}
   {{/* We can override any block in the baseof file by defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}

<div class="pa3 pa4-ns w-100 w-70-ns center">
{{ .Content }}

<article class="upcoming_poster">
  <h1>Matt Whipple</h1>
  <div class="schedule">
    {{ range $.Site.Data.shows }}
    <article class="show">
      <span class="when">
	<span class="date">{{.start | time.Format ":date_full" }}</span>
	<span class="time">{{.start | time.Format ":time_short" }}-{{.end | time.Format ":time_short"}}</span>
      </span>
      {{ with .with }}<span class="with">w/ {{ . }}</span>{{ end }}
      <span class="title">{{ .title | markdownify }}</span>
      <span class="location">{{ .location }}</span>
    </article>
    {{ end }}
  </div>
  <div class="footer">
    <span class="site">music.mattwhipple.com</span>
    <span class="qr"><img src="/images/site-qr.png"/></span>
  </div>
</article>

</div>
{{ end }}
