@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.upcoming_poster {
    position: relative;
    height: 30em;
    width: 22em;
    margin: 0 auto;
}

.upcoming_poster::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.7;
    background-image: url("/images/2022_HPF-1.jpg");
    background-size: cover;
    z-index: -10;
}

.upcoming_poster h1 {
    position: absolute;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    top: .05em;
}

.upcoming_poster .schedule {
    position: absolute;
    bottom: 3em;
    width: 100%;
}

.upcoming_poster .show {
    margin: 10px auto;
    width: 90%;
    background-color: rgba(255,255,255,0.6);
    border-style: outset;
    border-width: 1px;
    padding: .3em;
    line-height: 1.1em;
}

.upcoming_poster .date,
.upcoming_poster .time {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
}

.upcoming_poster .with {
    display: block;
    text-align: center;
    margin-bottom: .5em;
}

.upcoming_poster .time {
    text-align: right;
}    
.upcoming_poster .title {
    display: block;
    text-indent: 1em;
    font-size: 1.1em;
    font-weight: 500;
}
.upcoming_poster .location {
    display: block;
    font-size: .8em;
    text-indent: 2em;
    font-style: italic;
}

.upcoming_poster .footer {
    position: absolute;
    background-color: rgba(255,255,255,0.6);
    width: 100%;
    padding: 0.3em;
    bottom: 0;
    height: 3em;
    text-align: left;
}

.upcoming_poster .site {
    height: 100%;
    font-size: 1.5em;
    line-height: 2em;
}

.upcoming_poster .qr {
    line-height: 1em;
    display: inline-block;
    margin: auto 0 auto;
    position: absolute;
    right: 0.25em;
    bottom: 0.25em;
}

.upcoming_poster .qr img {
    vertical-align: top;
    height: 2.5em;
}

.upcoming_poster a {
    color: black;
    text-decoration: none;
}

.pa3 {
    padding-left: 0;
    padding-right: 0;
}
    
.photo-credits {
    font-size: .8em;
}

.photo-credits ul {
    list-style: none;
    display: inline-block;
    padding: 0 1em;
}

/**
 * This is a bit kludgy...
 * An elegant way to attach classes to markdown images
 * in Hugo isn't particularly evident.
 */
img[src="old-ship-bw.jpg"] {
    width: 50%;
    float: left;
    padding: 0 1em;
}
