{{ define "main" }}
<div class="pa3 pa4-ns w-100 w-70-ns center">
{{ .Content }}

The list can be shuffled by clicking <a href="#" id="shuffler">here</a> which I use to somewhat randomly
pick songs to play or practice (there is some weighting based on positive feeedback for songs).
<!-- Adding some filters would be nice but would complicate the UI. -->

<ul id="songlist">
{{- range $.Site.Data.songs -}}
  <li {{ with .weight }}data-weight="{{ . }}"{{ end }} >{{ .title }} &mdash; {{ delimit .songwriters ", " ", and "}}</li>
{{- end -}}
</ul>

<script>

  // Weighting here is just done using retries and selecting the best option.
  // This provides a reasonable mix of preference and variation.
  // The provided implementation makes use of recursion since that naturally
  // matches the retry semantics - this could easily be flattened our
  // this could make use of create and reduce a sequence of random numbers (Array.from).
  const randomWithWeight = (weight, accum) =>
	((newMax) => !weight
	 ? newMax
	 : randomWithWeight(weight-1, newMax))(Math.max(Math.random(), accum ?? 0));

  // Sort the nodes using a Schwartzian transform and relying on the pointers.
  const shuffle = (el) => {
      Array.from(el.childNodes)
	  .map(it => ({weight: randomWithWeight(it.dataset['weight']), el: it}))
	  .sort((a, b) => b.weight - a.weight)
	  .map(({ el }) => el)
	  .forEach(el.appendChild.bind(el));
  }
  document.getElementById("shuffler")
    .addEventListener('click', (e) => {
	e.stopPropagation();
	shuffle(document.getElementById("songlist"));
	return false;
    });
</script>
{{ end }}
